[Unit]
Description=Limit Usage Xray Service
Documentation=GEOVPN
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/vmess

[Install]
WantedBy=multi-user.target
